@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<MrFixIt.Models.Job>

<script type="text/javascript">
            $(document).ready(function () {
                $('.claim-view').click(function (event) {
                    var theId = $(this).attr("id");
                    event.preventDefault();
                    $.ajax({
                        type: 'GET',
                        dataType: 'html',
                        data: { id : theId },
                        url: '@Url.Action("Claim")',
                        success: function (result) {
                            $('.display-claim').html(result);
                        }
                    });
                });
            });
</script>

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>

        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <p class="btn">This job is unclaimed.  | <a href="#" class="claim-view" id="@Job.JobId">Claim this Job</a></p>




        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }







        <hr />

    </ul>
}
<div class="col-lg-4 display-claim"></div>