@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<MrFixIt.Models.Job>

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <li class="btn">This job is unclaimed. </li>
            <span class="claim-view">@Html.ActionLink("Claim this Job", "Claim", new { id = Job.JobId})</span>


            <script type="text/javascript">
            $(document).ready(function () {
            $('.claim-view').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: {id : @Job.JobId},
                url: '@Url.Action("Claim")',
                success: function (result) {
                    console.log(result);
                    $('.display-claim').html(result);
                }
            });
        });
    });
            </script>

        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
        </ul>

        


   

    <hr />
}
<div class="col-lg-4 display-claim"></div>

