@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model MrFixIt.Models.Worker

@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <h5>@Job.Title | </h5>

            @if (@Job.Pending == false)
            {
                <div class="@("hide-pending-" + Job.JobId)">
                    <p>Current Status: Claimed</p>

                    <form action="ActiveJob" class="@("active-job-" + Job.JobId)">
                        <input type="hidden" value="@Job.JobId" name="id" />
                        <button type="submit">Change Status to Pending</button>
                    </form>
                </div>
                <div id="@("result-pending-" + Job.JobId)"></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("@(".active-job-" + @Job.JobId)").click(function (event) {
                            event.preventDefault();
                            $.ajax({
                                type: 'GET',
                                data: {id :  @Job.JobId},
                                url: '@Url.Action("ActiveJob")',
                                success: function (result) {
                                    var resultPend = "#result-pending-" + @Job.JobId;
                                    console.log(@Job.JobId);
                                    $("@(".hide-pending-" + @Job.JobId)").hide();
                                    var resultPendDisplay = "<p>Current Status: Pending";
                                    $(resultPend).html(resultPendDisplay);
                                    }
                                });
                            });
                        });
                </script>
            }
            else
            {
                <p>Current Status: Pending</p>

            }



        }
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}